.main-section {
  padding: 40px 20px;
}

.title {
  margin: 0 auto 28px;
  display: table;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  padding: 16px;
}
